.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d8ecf8;
    padding: 20px 40px; 
    position: relative; 
    z-index: 1000; 
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.navbar h1 {
    margin: 0;
    font-size: 44px; 
    font-family: var(--font-rubik);
    font-weight: 400;
    color: #374254;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    padding-right: 20%; 
    font-size: 20px;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #312f2f;
    font-weight: bold;
    font-family: var(--font-rubik);
    font-weight: 400;
}

.nav-links a:hover {
    text-decoration: none;
    color: #374254;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
}

@media (min-width: 761px) and (max-width: 1280px){
    .navbar {
        padding: 10px 10px; 
    }

    .navbar h1 {
        font-size: 24px; 
        font-weight: 500;
    }
    
    .nav-links {
        font-size: 14px;
        padding-right: 10%; 
        gap: 30px;
    }
}

@media (max-width: 760px) and (min-width: 479px){
    .navbar {
        padding: 10px 20px; 
    }
       .nav-links {
        font-size: 14px;
        position: absolute; 
        top: 100%; 
        right: 0;
        text-align: left;
        background-color: #37425493;
        padding: 30px;
        display: none; 
        z-index: 999; 
    }

    .nav-links a{
        color: white;
        font-size: 20px;
        font-weight: 100;
    }

    .nav-links.show {
        display: block; 
    }

    .hamburger {
        display: flex; 
    }

    .navbar h1 {
        font-size: 20px; 
        font-weight: 600;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 10px 20px; 
    }
       .nav-links {
        font-size: 14px;
        position: absolute; 
        top: 100%; 
        right: 0;
        text-align: left;
        background-color: #37425493;
        padding: 20px;
        display: none; 
        z-index: 999; 
    }

    .nav-links a{
        color: white;
        font-size: 18px;
        font-weight: 100;
    }

    .nav-links.show {
        display: block; 
    }

    .hamburger {
        display: flex; 
    }

    .navbar h1 {
        font-size: 20px; 
        font-weight: 600;
    }
}